<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="OpenRTB Common Test Suite">
            <directory suffix="Test.php">./tests/Common</directory>
            <directory suffix="Test.php">./tests/OpenRTB</directory>
        </testsuite>
        <testsuite name="OpenRTB Factory Test Suite">
            <directory suffix="Test.php">./tests/Factory</directory>
        </testsuite>
        <testsuite name="OpenRTB v3 Test Suite">
            <directory suffix="Test.php">./tests/v3</directory>
        </testsuite>
        <testsuite name="OpenRTB v2.6 Test Suite">
            <directory suffix="Test.php">./tests/v26</directory>
        </testsuite>
        <testsuite name="OpenRTB v2. Test Suite">
            <directory suffix="Test.php">./tests/v25</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/v3/Enums</directory>
            <directory suffix=".php">./src/v26/Enums</directory>
            <directory suffix=".php">./src/v25/Enums</directory>
            <directory suffix=".php">./src/Interfaces</directory>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
</phpunit>