<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="OpenRTB v3 Test Suite">
            <directory suffix="Test.php">./tests/v3</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/v3/Enums</directory>
        </exclude>
    </coverage>
</phpunit>